.blog-list {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: 90%;
    max-width: 55rem;
  }
  .empty_Card{
    background-color:#570633;
    color: wheat;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 5px;
  }
  