.button {
  background-color: #F97316;
    color:black;
    margin-top: 5px;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border:none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background-color: #d85c04;
    color:rgb(46, 45, 45);
  }

  .button--plain {
    background-color: transparent;
    color:#F97316
  }

  .button--plain:hover,
  .button--plain:active{
    background-color: transparent;
    text-decoration: underline;
    color:#F97316
  }
  
  .button--inverse {
    background: transparent;
    border: 1px solid #F97316;
    color: #F97316;
  }
  
  .button--inverse:hover,
  .button--inverse:active {
    text-decoration: none;
    background-color: #F97316;
    color: black;
  }
  
  .button--danger {
    background: #eb0404;
    color: white;
  }
  
  .button--danger:hover,
  .button--danger:active {
    text-decoration: none;
    background-color: #b80303;
    color: white;
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }